*{
  margin: 0;
  padding: 0;
}

h4{
  font-weight: normal;
}

.App {
  background-color: #fafafa;
}

.app__header{
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1.5px solid lightgray;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width:500px) {
  .app__header{
    text-align: center;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .app_headerImage{
    margin-right: 5%;
    object-fit: contain;
  }
  Button{
    width: fit-content;
  }
  #uploadbutton{
    margin-top: 2%;
    width: fit-content;
  }
  .app__loginContainer{
    margin-top: 2%;
    /* border: 2px solid red; */
  }

}

.app_headerImage{
  max-width: 100%;
  width: 110px;
  margin-left: 5%;
}

.app__signup{
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
}

.app__signup .app_headerImage{
  margin-left: auto;
  margin-right: auto;
}

.app__signup Input{
  margin-top: 15px;
}

.app__loginContainer{
  display: flex;
  justify-content: space-between;
  width: fit-content;
  /* border: 2px solid red; */
}
